# documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # python
  - package-ecosystem: "pip"
    allow:
      - dependency-type: "all"
    directory: "/"
    schedule:
      # switch to cron schedule to stagger from uv updates (they can interfere, apparently)
      # run in the middle of the month rather than 1st day of
      interval: "cron"
      cronjob: "5 10 15 * *"
    # see: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/optimizing-pr-creation-version-updates#example-3-individual-pull-requests-for-major-updates-and-grouped-for-minorpatch-updates
    groups:
      pip-version-bump:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      pip-security-bump:
        applies-to: security-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # python
  - package-ecosystem: "uv"
    allow:
      - dependency-type: "all"
    directory: "/"
    schedule:
      # 1st day of the month, UTC 10:05
      interval: "monthly"
      time: "10:05"
    groups:
      uv-version-bump:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      uv-security-bump:
        applies-to: security-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  
  # actions
  - package-ecosystem: "github-actions"
    allow:
      - dependency-type: "all"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "10:05"
    cooldown:
      # major action releases should have existed for a month before updating
      # let major releases stabilize before trying to update
      default-days: 1
      semver-major-days: 30
    groups:
      actions-version-bump:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      actions-security-bump:
        applies-to: security-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
